html {
  max-width: 100%;
  margin: auto;
  font-family: Arial;
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  margin: 30px;
}

/* header */

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 20;
  overflow: hidden;
  top: 0;
  background-color: HSL(8,40%,30%);
  color: white;
}

h1 {
  line-height: 60px;
  margin-left: 30px;
  width: 45%;     /* can keep navagation bar at right */
}

h2 {
  font-size: 30px;
}

nav {
  width: 50%;

}

header ul {
  display: flex;
  line-height: 80px;
  justify-content: flex-end;
}

header ul li {
  list-style: inherit;
  margin-right: 50px;
}


.img-container {
  position: absolute;
  right: 200px;
  top: 100px;
  width: 300px;
  height: 300px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  overflow: hidden;
}

img {
  min-width: 100%;
  min-height: 100%;
  transition: all 0.5s linear
}

img.img-after {
  position: absolute;
  height: 300px;
  width: 50px;
  opacity: 0;
}

.img-container:hover img.img-before{
  opacity: 0;
}

.img-container:hover img.img-after{
  opacity: 1;
}

/* body */
body {
  position: relative;
  top: 90px;
}


.content p{
  max-width: 60%;
  text-align: justify;
  font-size: 18px;
}


.skills {
  font-size: 20px;
  font-weight: bold;

}
.skills ul{
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

.skills ul li{
  margin: 0 25px 0 25px;
}

/* contact */
.contact {
  background-color: HSL(8,40%,40%);
  color: white;
  padding: 5px;

}
